<head>
<title>ChatClient</title>
</head>
<body class="background">
<h1 style="text-align:center;font-size:150px;">Chat Client</h1>
<h2 style="text-align:center;">Welcome to Chat Client</h2>
<p style="text-align:center;">Have fun chatting with your friends! Create a chat room by simply naming it and then
share the URL so your friends can join.</p>
<form style="text-align:center;" action="" method="POST">
<h3>Create a Chat Client room</h3><br/>
<input type="text" name="createRoom" id="createRoom"/><br/>
<input type="submit" value="CREATE"/>
</form><br/>
<form style="text-align:center;" action="" method="POST">
<h3>Join a room</h3><br/>
<input type="text" name="joinRoom" id="joinRoom"/><br/>
<input type="submit" value="JOIN"/>
</form>
</body>
